
.over{
    font-family: Gotham SSm A,Gotham SSm B;
    /* border: 2px solid; */
    position: relative;
    background: white;
    width: 850px;
    height: 250px;
    margin-top: -400px;
    opacity: 0.9;
    padding-left: 60px;
    padding-top: 10px;

}
.over h1
{
    font-size: 65px;
    font-weight: lighter;
    opacity: 0.9;
    border-bottom: 2px #027d59 solid;
}
.over p
{
    font-size: 20px;
    margin-top: -53px;
    line-height: 34px;
}
.over button
{
     /* position: relative; */
    /* font-family: Gotham SSm A,Gotham SSm B; */
    padding: 10px 10px;
    font-weight: bold;
    color: white;
    background-color:#13be8e;
    border: 1px solid #13be8e ;
    margin-left:695.5px;
    margin-top: -20px;
    font-size: 17px;
    cursor: pointer;

}
.over button:hover
{
background-color: green;
}



.center img
{
    height: 380px;
    width: 1080px;
    margin-top: 180px;
    margin-left: 10%;
}
.over2
{
    position: relative;
    background-color: white;
    font-family: Gotham SSm A,Gotham SSm B;
    padding-left: 50px;
    padding-top: 10px;
    margin-left: 255px;
    margin-top: -150px;
    height: 277px;
    width: 800px;
    /* border:1px solid black; */
    box-shadow:0px 0px 7px 0.5px gray;
}
.over2 h4{
    font-family: Gotham SSm A,Gotham SSm B;
    font-weight: lighter;
    margin-top: 5px;

}
.over2 h1
{
    margin-top: -10px;
    font-size: 60px;
    font-weight: lighter;
    opacity: 0.9;
    border-bottom: 2px solid #db306c;
}
.over2 p
{
    font-size: 20px;
    margin-top: -30px;
    line-height: 34px;
}
.over2 button
{
    /* font-family: Gotham SSm A,Gotham SSm B; */
    padding: 10px 10px;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    background-color: #e086a6;
    border: 1px solid #e086a6;
    margin-left: 636px;
    text-decoration: none;
    color: white;
    margin-top: -15px;
}
.over2 button:hover
{
background-color:rgb(250, 87, 115);
}



.center2 img
{
    margin-top: 50px;
    /* padding: 20px 20px ; */
}
.over3{
    position: absolute;
    margin-left: 270px;
    margin-top: -320px;
    height: 277px;
    width: 800px;
    border-radius: 50%;
    /* border:1px solid black; */
    background-color: #019875;
    padding: 10px;

}
.over3 h1
{
    font-weight: lighter;
    font-family: Gotham SSm A,Gotham SSm B;
    font-size: 50px;
    margin-left:250px;
    margin-top: 10px; 
    color: white;
}
.over3 p
{
    font-family: Gotham SSm A,Gotham SSm B;
    font-size: 20px;
     margin-left: 90px;
    margin-top: -20px; 
    line-height: 30px;
    color: white; 
}
.over3 button
{
    font-family: Gotham SSm A,Gotham SSm B;
    padding: 10px 10px;
    font-size: 17px;
    cursor: pointer;
    /* font-weight: bold; */
    background-color: white;
    border: 1px solid gray;
    /* margin-left: 580px; */
    text-decoration: none;
    color: gray;
    margin-left: 260px;
}
.over3 button:hover
{
    color: white;
    background-color: gray;
}



.over4
{
    /* position: absolute; */
    /* margin-left: 100px; */
    margin-top: 50px;
    height: 280px;
    width: 550px;
    /* border:1px solid black; */
    padding: 10px;
    box-shadow:0px 0px 7px 0.5px gray;
}
.over4 h1
{
    font-family: Gotham SSm A,Gotham SSm B;   
    font-size: 50px;
    font-weight: lighter;
    margin-left: 50px;
    margin-top: 10px;  
    text-decoration: #019875 2px underline;  
}
.over4 p
{
 font-family: Gotham SSm A,Gotham SSm B;
 font-weight: lighter;
 margin-left: 50px;
 margin-top: -20px; 
 font-size: 23px;
 line-height: 40px;
}
.over4 button
{
    font-size: 20px;
    font-family: Gotham SSm A,Gotham SSm B;
    text-decoration: underline;
    border: transparent;
    margin-left: 50px;
    background-color: white;
    color: blue;
    cursor: pointer;
} 


.over5
{
    /* position: absolute; */
    /* margin-left: 100px; */
    margin-top: 50px;
    height: 280px;
    width: 550px;
    /* border:1px solid black; */
    padding: 10px;
    box-shadow:0px 0px 7px 0.5px gray;
}
.over5 h1
{
    font-family: Gotham SSm A,Gotham SSm B;   
    font-size: 50px;
    font-weight: lighter;
    margin-left: 50px;
    margin-top: 10px;  
    text-decoration: #019875 2px underline;  
}
.over5 p
{
 font-family: Gotham SSm A,Gotham SSm B;
 font-weight: lighter;
 margin-left: 50px;
 margin-top: -20px; 
 font-size: 23px;
 line-height: 40px;
}
.over5 button
{
    font-size: 20px;
    font-family: Gotham SSm A,Gotham SSm B;
    text-decoration: underline;
    border: transparent;
    margin-left: 50px;
    background-color: white;
    color: blue;
    cursor: pointer;
} 


.over6
{
    /* position: absolute; */
    /* margin-left: 100px; */
    margin-top: 50px;
    height: 280px;
    width: 550px;
    /* border:1px solid black; */
    padding: 10px;
    box-shadow:0px 0px 7px 0.5px gray;
}
.over6 h1
{
    font-family: Gotham SSm A,Gotham SSm B;   
    font-size: 50px;
    font-weight: lighter;
    margin-left: 50px;
    margin-top: 10px;  
    text-decoration: #019875 2px underline;  
}
.over6 p
{
 font-family: Gotham SSm A,Gotham SSm B;
 font-weight: lighter;
 margin-left: 50px;
 margin-top: -20px; 
 font-size: 23px;
 line-height: 40px;
}
.over6 button
{
    font-size: 20px;
    font-family: Gotham SSm A,Gotham SSm B;
    text-decoration: underline;
    border: transparent;
    margin-left: 50px;
    background-color: white;
    color: blue;
    cursor: pointer;
} 

.over7
{
    /* position: absolute; */
    /* margin-left: 100px; */
    margin-top: 50px;
    height: 280px;
    width: 550px;
    /* border:1px solid black; */
    padding: 10px;
    box-shadow:0px 0px 7px 0.5px gray;
}
.over7 h1
{
    font-family: Gotham SSm A,Gotham SSm B;   
    font-size: 50px;
    font-weight: lighter;
    margin-left: 50px;
    margin-top: 10px;  
    text-decoration: #019875 2px underline;  
}
.over7 p
{
 font-family: Gotham SSm A,Gotham SSm B;
 font-weight: lighter;
 margin-left: 50px;
 margin-top: -20px; 
 font-size: 23px;
 line-height: 40px;
}
.over7 button
{
    font-size: 20px;
    font-family: Gotham SSm A,Gotham SSm B;
    text-decoration: underline;
    border: transparent;
    margin-left: 50px;
    background-color: white;
    color: blue;
    cursor: pointer;
} 

.box1
{
    display: flex;
    justify-content:space-evenly ;
}
.box
{
    display: flex;
    justify-content: space-evenly;
}
.footer1
{
    background-color: #019875;
    display: flex;
    color: white;
    padding:3px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.footer1 h2
{
    margin-left:220px;
    margin-top: 40px;
}
.footer1 p{
    margin-left: 300px;
}