
.book
{
    display:flex;
    /* margin-top: 5px; */
    margin-bottom: 4%;
    border-bottom: 2px  solid ;
    /* background-color: gray; */
}
.book img{
    height: 400px;
    width: 350px;
    border: 2px solid black;
    margin-top: -55px;
}
.card-body
{
    margin-left: 10px;
}
.card-body button
{
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    background: transparent;
}

.footer button
{
 font-size: 15px;
 padding: 3px 3px;
 font-weight: bold;
 background-color:rgb(255, 23, 69);
}