.bg 
{
background-image: url("https://cdn.pixabay.com/photo/2021/01/21/16/49/books-5937823_960_720.jpg");
height: 690px;
width: 1360px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
/* filter: blur(2px);
-webkit-filter: blur(8px); */
}

.login
{
    position: absolute;
    margin-top: -38%;
    margin-left: 10%;
    background-color: white;
    height: 350px;
    width: 300px;
    box-shadow: 0 0 7px 0.5px gray;
    border-radius: 15px;
}
.login h1
{
margin-left: 75px;
text-decoration: underline;
}
.login input
{
    /* border-radius: 5px; */
    text-decoration: none;
    /* border: transparent; */
    padding: 10px 10px ;
    margin: 10px 55px;

}
.login button
{
    /* font-size: 15px; */
    padding:10px 50px 10px 50px;
    margin-top: 10px;
    margin-left: 26%;
    background-color: rgb(32, 177, 265);
    border: transparent;
    font-weight: bold;
}
.login button:hover
{
    transform: scale(1.10);
}
.login p
{
    margin-top: 40px;
    margin-left: 17%;
    font-weight: lighter;
}
.link
{
    display: flex;
    justify-content: space-around;
    height: 70%;
    width: 70%;
    margin-left: 15%;

}
.link div
{
    /* margin-left: 20px;
    margin-top: -5px; */
    width: 40%;
    height: 10%;
    background-color: black;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.google
{
background-image: url("https://img.icons8.com/fluency/256/google-logo.png");
}
.facebook
{
    background-image: url("https://img.icons8.com/color/256/facebook-new.png");
}
